P5 E-Learning/force-app/main/default/flows/Calculate_Point_Time_in_Trail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>TotalModulePoint</name>
        <label>TotalModulePoint</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>ModulePoint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Module__r.Module_Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ModuleTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Module__r.Module_Time_Estimate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetValues</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Calculate Point/Time in Trail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Point/Time in Trail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SetValues</name>
        <label>SetValues</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Trail_Module_Score__c</field>
            <value>
                <elementReference>ModulePoint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trail_Module_Time__c</field>
            <value>
                <elementReference>ModuleTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TotalModulePoint</targetReference>
        </connector>
        <object>Trail_Module__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ModulePoint</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ModuleTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
